  .resizable-right-section {
    position: relative;
    border-left: 1px solid #ccc;
    overflow: hidden;
    border: 2px solid whitesmoke;
    height: 60vh;
    background-color: lightblue;
    height: 70vh;
  }
  
   .resizer-right {
    width: 10px;
    height: 100%;
    position: absolute;
    left: -5px;
    cursor: col-resize;
    background-color: #eee;
    z-index: 1;
  } 
    