.resizable-left-section {
    position: relative;
    border-right: 1px solid #ccc;
    overflow: hidden;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    background-color: lightblue;
    height: 70vh;
  }
  
  .resizer-left {
    width: 10px;
    height: 100%;
    position: absolute;
    right: -5px;
    cursor: col-resize;
    background-color: #eee;
    z-index: 1;
  }
  .wrapper {
   display: flex;
   flex-wrap: wrap; 
   flex-direction: row;
   
  }

  .box{
    background-color: rgb(167, 162, 162);
    border-radius: 4px;
    width: 100px;
    height:90px;
    border: 1px solid rebeccapurple;
    margin: 5px;
  }
  
  